In [5]:
# A/B testing

In [21]:
# importing libraries
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Reading the searches.json provided in the link
searches = pd.read_json('searches.json', lines = True)

In [24]:
# looking at first few values of dataset
print(searches.shape)
searches.head()

(681, 5)

   is_instructor  login_count  search_count       uid design_shown
0           True            1             2   6061521            B
1          False            4             0  11986457            B
2          False            1             0  15995765            B
3           True            3             0   9106912            A
4          False            1             0   9882383            B

In [15]:
# adding a new column design Shown based on the even shown A design and odd shown B design criteria
searches['design_shown'] = np.where(searches['uid']%2 != 0, 'B', 'A')

In [16]:
# looking at first few values of modifed dataset
searches.head()

   is_instructor  login_count  search_count       uid design_shown
0           True            1             2   6061521            B
1          False            4             0  11986457            B
2          False            1             0  15995765            B
3           True            3             0   9106912            A
4          False            1             0   9882383            B

In [26]:
# Did more users use the search feature in the new design (B)?
#creating a column based on search used or not
searches['search_used'] = np.where(searches['search_count']>0, 'Yes', 'No')
searches.head()

   is_instructor  login_count  search_count       uid design_shown search_used
0           True            1             2   6061521            B         Yes
1          False            4             0  11986457            B          No
2          False            1             0  15995765            B          No
3           True            3             0   9106912            A          No
4          False            1             0   9882383            B          No

In [42]:
# users used the search feature in both design
search_use = searches.groupby(['design_shown'])['search_used'].count()
print(search_use)

design_shown
A    333
B    348
Name: search_used, dtype: int64

In [34]:
## Clearly it has been used relatively more in design B
print("search feature used more in new design B by {} %".format((round(search_use[1]/search_use[0]-1,2))))

search feature used more in design B by 0.05 %

In [43]:
# Did users search more often in the new design (B)?
search_freq = searches.groupby(['design_shown'])['search_count'].sum()
print(search_freq)

design_shown
A    266
B    231
Name: search_count, dtype: int64

In [44]:
# as search frequency is higher in design A users are using it more often in design A
print("search is less often used in new design B")
print("it has been less utilised by {} %".format((round(search_freq[1]/search_freq[0]-1,2))))

search is less often used in new design B
it has been less utilised by -0.13 %